@import "tailwindcss";

.div-cutout{
    clip-path: path("M12 44H32C38.6274 44 44 38.6274 44 32V12C44 5.37258 49.3726 0 56 0H250.019C256.639 0 262.008 5.36125 262.019 11.9814L262.481 309.981C262.492 316.616 257.116 322 250.481 322H12C5.37258 322 0 316.627 0 310V56C0 49.3726 5.37258 44 12 44Z");
    height: 384px;
    width: 288px;
}
